'scopeName': 'source.hrm'
'name': 'Human Resource Machine'
'fileTypes': [
  'hrm'
]
'firstLineMatch': '^ *-- HUMAN RESOURCE MACHINE PROGRAM --'
'patterns': [
  {
    'match': '--.*'
    'name': 'comment.line.banner.c++'
  }
  {
    'match': '^ *(INBOX|OUTBOX)'
    'captures':
      '1':
        'name': 'entity.name.function.preprocessor.c'
  }
  {
    'match': '^ *(ADD|BUMPDN|BUMPUP|COPYFROM|COPYTO|SUB) +(\\[?[0-9]+\\]?)'
    'captures':
      '1':
        'name': 'entity.name.function.preprocessor.c'
      '2':
        'name': 'constant.numeric.c'
  }
  {
    'match': '^ *(JUMP|JUMPN|JUMPZ) +([a-zA-Z0-9]+)'
    'captures':
      '1':
        'name': 'entity.name.function.preprocessor.c'
      '2':
        'name': 'keyword.control.c'
  }
  {
    'match': '^ *(COMMENT) +([0-9]+)'
    'captures':
      '1':
        'name': 'entity.name.function.preprocessor.c'
      '2':
        'name': 'constant.numeric.c'
  }
  {
    'match': '^ *[a-zA-Z0-9]+:'
    'name': 'keyword.control.c'
  }
  {
    'begin': '^ *(DEFINE) +(COMMENT|LABEL) +([0-9]+)'
    'beginCaptures':
      '1':
        'name': 'punctuation.definition.keyword.c'
      '2':
        'name': 'punctuation.definition.keyword.c'
      '3':
        'name': 'string'
    'end': ';'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.keyword.c'

    'contentName': 'comment.block.c'
  }
]
